{% extends 'base.html' %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'drawing' %}">Secret Santa Drawing</a></li>
{% endblock %}

{% block content %}
<form action="drawing" method="post" novalidate>
    {% csrf_token %}
    <table border="0">
        {{ form }}
    </table>
    <input type="submit" value="Submit">
</form>
<p> Result: {{ output }}</p>
{% endblock %}