body {
  background-image: url(../img/prism.png);
}

.logo {
  font-family: 'Big+Shoulders+Text', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}